﻿
@{
    ViewBag.Title = "Thông báo";
}



<div>
    <div class="text-center">
        <div class="glyphicon glyphicon-lock"></div>
        <h1 class="content-AccessDenined">Bạn không có quyền truy cập vào trang này!</h1>
    </div>

</div>

